<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
            <p><h3>Country Account</h3></p>
    <img src ="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" height = 40 >  
    <h3> Shashank singh Kaushal</h3>

    <b>Personal infromation</b>
        
     Billing & Payments

     Order History

     Gift Cards
    </pre>


    <pre>
        <h1> Personal Information</h1>
   <b>Manage your personal information ,including phone numbers and email 
    address where you can contacted </b>
    </pre>
    <pre>
        <div>
            <P><b>       <big>NAME</big><br>       shashank singh kaushal</b></P>
            </div>
            <div>
                <p> <b>       <big>Country Region</big><br>        Lucknow,Uttar Pradesh</b></p>
            </div>
    </pre>
    
</body>
</html>