<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="divbelow">
        BASIC
        <P>Welcome Back </P>
        <p>Please Enter Your Accounts Details </p>
        <form>
      <div class="info">
        <p>Email</p>
       <input type="text" placeholder="">
      </div> 
      <div class="info">
        <p>Password</p>
        <input type="text" placeholder="">
       </div>
       <p>Forgot Password</p> 
      <button>Sign In</button>
    </div>
  </form>
    <div id="divabove"></div>
       <div>
        What's our vision
       </div>
       <div>
        Don't worry to remember all your accounts password just remember one and chill
       </div>
       <p>Pushkar Kant Mishra</p>
       <P>Head at IIT KMCLU</P>
</body>
</html>
